<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    body{
      margin: 0;
      padding: 0;
      font-family: "Roboto", sans-serif;
    }
    /*.container {
      max-width: 1200px;
      padding: 0 15px;
      margin: 50px auto;
    }*/
    img{
      max-width: 100%;
      height: auto;
    }
    .full-width-image{
      position: relative;
      width: 100vw;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
      max-width: 10000px;
    }
    .page-wrapper{
      overflow: visible;
    }
  </style>
  <body>
    <div class="page-wrapper">
        <article class="post">
          <header class="post-header">
            <img src="assets/imagenes/imagen_inicio.jpg" alt= "Imagen Consultorio" class="post-thumbnail full-width-image"> 
          </header>
        </article>
    </div>
  </body>
</html>